<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Real Time Search Analytics</title>
  <%= csrf_meta_tags %>
</head>
<body class="m-0 p-0">
  <div class="flex flex-col w-[100%] ">
    <h1 class="text-xl">Real Time Search Analytics</h1>

    <input type="text" id="searchInput" placeholder="Search articles..." class="rounded-xl w-[50%]" oninput="handleSearch()">
  </div>

  <div id="searchHistory" class="mt-5">
    <div class="flex justify-between border-b border-black">
      <h2>Search History</h2>
      <%= link_to 'Refresh', root_path, class: "font-medium text-blue-600 underline hover:no-underline" %>
    </div>
    
    <div class="grid grid-cols-12 grid-rows-1 grid-flow-row border-2 border-black mt-2">
      <div class="font-extrabold bg-gray-400 border-r-2 border-black px-3 col-span-1">N°</div>
      <div class="font-extrabold bg-gray-400 border-r-2 border-black px-3 col-span-11">Search Items</div>
      <% @query_analytics.each_with_index do |query, index| %>
        <div class="border-r-2 border-black px-3 col-span-1"><%= index + 1 %></div>
        <div class="border-r-2 border-black px-3 col-span-11"><%= query.query %></div>
      <% end %>
    </div>

  </div>

  <script>

    const handleSearch = () => {
      let Input = document.getElementById('searchInput').value;

        if (Input.length > 0) {
          fetch('/query', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').content
            },
            body: JSON.stringify({ query: Input })
          })
            .then(response => response.json())
            .then(data => console.log(data))
            .catch(error => console.error('Error:', error));
        }

      //Display the query as the result for checking purpose
      document.getElementById('searchResults').innerText = Input;
    }
  </script>
</body>
</html>